/* --- Resret CSS --- */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* --- Body --- */
body main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.football main{
    background-image: url(../img/footballbackground.jpg);
}
.basketball main{
    background-image: url(../img/basketballbackground.jpg);
}
.rugby main{
    background-image: url(../img/rugbybackground.jpg);
}
.tennis main{
    background-image: url(../img/tennisbackground.jpg);
}
.flex{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* --- Header --- */
header{
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* --- Header Logo --- */
h1{
    width: 50px;
    height: 50px;
    background-image: url(../img/sport.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999999px;
    margin-right: 20px;
}
h1 a, .facebook a, .instagram a, .facebook, .instagram, .messagebutton{
    width: 50px;
    height: 50px;
}
h1 a, .facebook a, .instagram a{
    display: block;
}

/* --- Header Navigation --- */
ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li a{
    color: #000000;
    font-size: 20px;
}
.burgermenu, .messagebox{
    display: none;
}
header .fa-bars{
    font-size: 40px;
}

/* --- Slider --- */
.owl-carousel .owl-theme{
    z-index: 0;
}
.sliderfoto{
    width: 300px;
    overflow: hidden;
}
.owl-theme .owl-nav [class*=owl-]{
    font-size: 50px!important;
    color: #000000!important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: rgba(0, 0, 0, 0);
}

/* --- News --- */
.news, .back, .sportnews section h2, .items, footer{
    padding: 20px;
}
.news article{
    background-color: #ffffff;
    opacity: 0.9;
    padding: 10px;
    box-shadow: 0 0 20px #000000;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.newsimg{
    width: 200px;
    margin: 10px auto;
    overflow: hidden;
}
.newsimg img, .send, .messagemain textarea, .messagemain input{
    width: 100%;
}
.newstext h2{
    font-size: 20px;
}
.newstext h2 a{
    color: rgb(91, 179, 179);
}
.newstext p{
    font-size: 18px;
    margin: 10px 0;
}
.readmore a{
    color: #000000;
}
.readmore a::after{
    content: "...";
}
.readmore a:hover{
    color: #ff0000;
}

/* --- Sport News --- */
.back a{
    color: rgba(0, 0, 0, 0.5);
}
.back a::before{
    content: "<< ";
}
.sportnews{
    padding: 0 100px;
}
.sportnews section h2{
    background-color: #6DD5FA;
}
.sportnews section div{
    margin: 50px auto;
}

/* --- Sport Shop --- */
.sportshop main, .tickets main{
    padding: 20px 100px;
}
.items{
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 0 20px #000000;
    border-radius: 15px;
    margin-bottom: 20px;
}
.items .add .fa-cart-plus{
    font-size: 30px;
}
.items:hover{
    background-color: #6DD5FA;
}
.foto{
    width: 200px;
    height: 250px;
    background-image: url(../img/shopitems1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.price, .name{
    font-size: 20px;
}
.more{
    font-size: 14px;
    color: #000000;
    padding: 10px 20px;
    border-radius: 0 35px 0 35px;
}
.add, .foto, .price, .name{
    margin-bottom: 10px;
}

/* --- Tickets --- */
.tickets .foto{
    background-image: url(../img/tickets.png);
}

/* --- Social Media --- */
.social{
    width: 50px;
    height: 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}
.facebook, .instagram{
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-image;
}
.facebook{
    background-image: url(../img/fb.png);
}
.instagram{
    background-image: url(../img/instagram.png);
}
.facebook:hover{
    background-image: url(../img/fb\ color.png);
}
.instagram:hover{
    background-image: url(../img/instagram\ color.png);
}
.facebook:hover, .instagram:hover, .messagebutton, .messagebox .messageboxheader p{
    cursor: pointer;
}

/* --- Chat --- */
.messagebutton{
    background-image: url(../img/messenger1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.messagebutton, .messagebox{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.messagebutton:hover{
    background-image: url(../img/messenger2.png);
}
.send, .messagebox{
    padding: 15px;
    border-radius: 10px;
}
.send{
    background-color: #047f00;
    text-align: center;
}
.send:hover{
    background-color: #0ac703;
}
.messagebox{
    background-image: url(../img/chatbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #a2a2a2;
}
.messagebox{
    z-index: 1;
    width: 300px;
}
.messagemain textarea, .messagemain input{
    padding: 10px;
    outline: none;
    border: none;
    opacity: 0.5;
}
.messageboxheader, .messagemain input, .messagemain textarea{
    margin-bottom: 10px;
    border-radius: 10px;
}

/* --- Responsive --- */
@media only screen and (max-width: 820px) {
    .news{
        padding: 10px;
        flex-wrap: wrap;
    }
    .news article{
        padding: 5px;
    }
    .newsimg{
        width: 180px;
    }
    .sportnews{
        padding: 0 50px;
    }
    .sportshop main, .tickets main{
        padding: 20px;
    }
}
@media only screen and (max-width: 390px) {
    #nav{
        display: none;
    }
    .burgermenu{
        display: block;
        width: 100%;
        text-align: center;
    }
    .news{
        flex-direction: column
    }
    .sportnews{
        padding: 0 10px;
    }
    .sportshop article, .tickets article{
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}